version: '3.8'

services:
  shelly-cloud-logger:
    build:
      context: .
      dockerfile: Dockerfile_cloud
    container_name: shelly-cloud-logger
    restart: unless-stopped
    environment:
      # Poll interval in minutes
      - POLL_INTERVAL=${POLL_INTERVAL:-5}
      
    volumes:
      - ./config_cloud.yaml:/app/config.yaml:ro
    
    # No need for host network mode since we're using cloud API
    networks:
      - monitoring

networks:
  monitoring:
    external: true
